<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <center>
        <h1>Login 🤩</h1>
        <form action="/user/login" method="post">
            <div>
                <label >Email</label>
                <input type="text" name="email">
            </div>

            <div style="margin-top: 20px;">

                <label >Password</label>
                <input type="text" name="password">
            </div>

            <button style="margin-top: 20px;" type="submit">Login 😊</button>

        </form>
    </center>

</body>

</html>